In [1]:
name = "Larry"
print(name)

Larry

In [6]:
last_letters = name[1:]

In [7]:
print(last_letters)

arry

In [8]:
name = 'B' + last_letters
print(name)

Barry

In [9]:
a = name * 10
print(a)

BarryBarryBarryBarryBarryBarryBarryBarryBarryBarry

In [13]:
a.split()

['BarryBarryBarryBarryBarryBarryBarryBarryBarryBarry']

In [14]:
car_pur = "Mitsubishi Lancer 2018 2,000,000 Philippines"
print(car_pur)

Mitsubishi Lancer 2018 2,000,000 Philippines

In [15]:
car_list = car_pur.split()

In [16]:
print(car_list)

['Mitsubishi', 'Lancer', '2018', '2,000,000', 'Philippines']

In [17]:
print(len(car_list))

5

In [18]:
car_list[0]

'Mitsubishi'

In [19]:
car_list[1:]

['Lancer', '2018', '2,000,000', 'Philippines']

In [20]:
print(car_list)

['Mitsubishi', 'Lancer', '2018', '2,000,000', 'Philippines']

In [21]:
car_list.append('Sold')

In [22]:
print(car_list)

['Mitsubishi', 'Lancer', '2018', '2,000,000', 'Philippines', 'Sold']

In [24]:
car_list.sort()

In [25]:
print(car_list)

['2,000,000', '2018', 'Lancer', 'Mitsubishi', 'Philippines', 'Sold']